# Server
PORT=5000
NODE_ENV=production

# Database (RDS)
DB_HOST=desa-ku-bisa-custom-db.cmxoqik88ll8.us-east-1.rds.amazonaws.com
DB_PORT=3306
DB_USER=admin
DB_PASSWORD=desakubisa-paris
DB_NAME=desa_ku_bisa

# JWT
JWT_SECRET=super-secret-jwt-key-desa-ku-bisa-production-2024

# AWS S3
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=AKIA2AZ5EQFB5HZCZBRP
AWS_SECRET_ACCESS_KEY=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
AWS_BUCKET_NAME=desa-ku-bisa

# CORS
CORS_ORIGIN=http://34.201.22.121
